<nav id="site-nav" role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

  <!-- Brand/Logo grouped with toggle content -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{site.data.global.title}}</a>
    </div>

  <!-- Nav Links and other content grouped together for better toggeling-->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
        {% for item in site.data.nav.main %}
        <li><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>
</nav>
